@use "base/variables";

.error-snackbar {
    background-color: variables.$red-color;
    color: variables.$background-color;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(209, 189, 189, 0.2);

    button:hover {
    background: variables.$text-color !important;
    color: variables.$background-color !important;

    span {
      color: variables.$text-color !important;
      background: variables.$background-color !important;
    }
  }
}

.info-snackbar {
    background-color: variables.$text-color;
    color: variables.$background-color;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(209, 189, 189, 0.2);

    button:hover {
    background: variables.$text-color !important;
    color: variables.$background-color !important;

    span {
      color: variables.$text-color !important;
      background: variables.$background-color !important;
    }
  }
}

.select {
  width: 50%;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  background: #fff;
  color: variables.$secondary-color;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  appearance: none;
  transition: border-color 0.2s;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1.2em;
  padding-right: 2.5rem;
}

.select:focus {
  border-color: variables.$primary-color;
  outline: none;
}

.select:disabled {
  background: #f5f5f5;
  color: variables.$secondary-color;
  cursor: not-allowed;
}

input,
input.ng-untouched,
input.ng-touched,
input.ng-dirty,
input.ng-pristine {
  font-family: variables.$default-font !important;
  font-size: 1rem;
  color: variables.$secondary-color;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
  font-size: 1rem;
  transition: border-color 0.2s;
}

#transactionDate {
  font-family: variables.$default-font !important;
  font-size: 1rem;
  color: variables.$secondary-color;
  padding: 0.75rem;
  border: 1px solid #ccc !important;
  border-radius: 2rem !important;
  font-size: 1rem !important;
  background-color: #fff !important;
  transition: border-color 0.2s;
  width: 100%;
}

.mdc-line-ripple.mdc-line-ripple--deactivating {
  color: variables.$text-color !important;
}

.mat-mdc-form-field-subscript-wrapper,
.mat-mdc-form-field-bottom-align {
  display: none !important;
}

mat-form-field {
  width: 100%;
}

.mdc-text-field--no-label {
  padding: 0rem !important;
}

.mat-mdc-button-touch-target {
  color: black !important;
}

.mat-mdc-form-field-infix {
  padding: 0rem !important;
}

.error-font, .error-message {
  color: variables.$red-color;
  font-size: 1rem;
  margin-top: 1rem;
}

label {
  margin: 0.5rem;
}

.summary {
  margin: 2rem;
  text-align: center;
}

bs-datepicker-container {
  background-color: variables.$text-color;
  z-index: 9999;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  cursor: pointer;
}

.input-with-icon {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding-right: 5rem;
  box-sizing: border-box;
  cursor: pointer;
}

.input-with-icon i {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
  text-align: right;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .select {
    width: 100%;
  }
}

@keyframes pulse {
  0% { transform: scale(100%); }
  33% { transform: scale(110%); }
  66% { transform: scale(110%); }
  100% { transform: scale(100%); }
}
