@if (loading()) {
  <loader></loader>
}
@if (!loading()) {
  <div class="form-container">
    <div class="modal-header">
      <h3>Reset Password</h3>
    </div>
    @if (hasError()) {
      <div class="error-message default-font">
        {{ errorMessage() }}
      </div>
    }
    <form class="form-element" [formRoot]="resetPasswordForm">
      <div  class="form-group">
        <label for="password">New Password</label>
        <input [formField]="resetPasswordForm.password" id="password" type="password" placeholder="Enter new password" />
      </div>
      @if (resetPasswordForm.password().touched() && resetPasswordForm.password().invalid()) {
        @for (error of resetPasswordForm.password().errors(); track error.kind) {
          <div class="error-font">
            {{ error.message }}
          </div>
        }
      }
      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input [formField]="resetPasswordForm.confirmPassword" id="confirmPassword" type="password" placeholder="Confirm new password" />
      </div>
      @if (resetPasswordForm.confirmPassword().touched() && resetPasswordForm.confirmPassword().invalid()) {
        @for (error of resetPasswordForm.confirmPassword().errors(); track error.kind) {
          <div class="error-font">
            {{ error.message }}
          </div>
        }
      }
      @if (resetPasswordForm.confirmPassword().touched() && hasPasswordMismatch()) {
        <div class="error-font">
          Passwords do not match.
        </div>
      }
      <div class="button-container">
        <button type="submit" class="custom-button bounce-button">Submit</button>
      </div>
    </form>
  </div>
}
