<div class="form-container">
  <div class="modal-header">
    <h3>Reset Password</h3>
  </div>
  <form class="form-element" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div  class="form-group">
      <label for="new-password">New Password</label>
      <input formControlName="password" id="new-password" type="password" placeholder="Enter new password" />
    </div>
    <div class="error-font" *ngIf="resetPasswordForm.get('password')?.hasError('pattern') && resetPasswordForm.get('password')?.touched">
      Password must include at least one uppercase letter, one number, and one special character.
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input formControlName="confirmPassword" id="confirm-password" type="password" placeholder="Confirm new password" />
    </div>
    <div class="error-font" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('pattern') && resetPasswordForm.get('confirmPassword')?.touched">
      Password must include at least one uppercase letter, one number, and one special character.
    </div>
    <div class="error-font" *ngIf="resetPasswordForm.hasError('passwordsMismatch') && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('confirmPassword')?.touched)">
      Passwords do not match.
    </div>
    <div class="button-container">
      <button type="submit" class="custom-button bounce-button" [disabled]="resetPasswordForm.invalid">Submit</button>
    </div>
  </form>
</div>
