<loader *ngIf="loading()"></loader>
<div *ngIf="!loading()" class="form-container">
  <div class="modal-header">
    <h3>Reset Password</h3>
  </div>
  <form class="form-element" [formGroup]="formGroup!" (ngSubmit)="onSubmit()">
    <div  class="form-group">
      <label for="new-password">New Password</label>
      <input formControlName="password" id="new-password" type="password" placeholder="Enter new password" />
    </div>
    <div class="error-font" *ngIf="hasFieldError('password')">
      {{ getFieldErrorMessage('password') }}
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input formControlName="confirmPassword" id="confirm-password" type="password" placeholder="Confirm new password" />
    </div>
    <div class="error-font" *ngIf="hasFieldError('confirmPassword')">
      {{ getFieldErrorMessage('confirmPassword') }}
    </div>
    <div class="error-font" *ngIf="formGroup!.hasError('passwordsMismatch') && (hasFieldError('password') || hasFieldError('confirmPassword'))">
      Passwords do not match.
    </div>
    <div class="button-container">
      <button type="submit" class="custom-button bounce-button" [disabled]="!isFormValid()">Submit</button>
    </div>
  </form>
</div>
