h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: x-large;
  color: #2d3a4b;
}

.custom-button {
  width: 100%;
}

@media (min-width: 600px) {
  .form-container {
    width: 80%;
    margin: auto ;
  }
}
