<div class="main-container">
  <div class="modal-header">
    <h3>Create Transaction</h3>
    <p class="modal-description">Create the item and click on save!</p>
  </div>
  <div class="error-message default-font" *ngIf="hasError()">
    {{ errorMessage() }}
  </div>
  <loader *ngIf="loading()" class="loader"></loader>
  <form *ngIf="!loading()" class="form-container" [formGroup]="formGroup!" (ngSubmit)="onSubmit()">
    <label for="Name">Name</label>
    <div class="form-group">
      <input id="Name" type="text" formControlName="Name" required />
      <div class="error-message" *ngIf="hasFieldError('Name')">
        {{ getFieldErrorMessage('Name') }}
      </div>
    </div>
    <label for="Description">Description</label>
    <div class="form-group">
      <input id="Description" type="text" formControlName="Description" />
    </div>
    <label for="Value">Value</label>
    <div class="form-group">
      <input id="Value" type="number" formControlName="Value" />
      <div class="error-message" *ngIf="hasFieldError('Value')">
        {{ getFieldErrorMessage('Value') }}
      </div>
    </div>
    <label for="Currency">Currency</label>
    <div class="form-group">
      <mat-select class="select" formControlName="Currency">
        <mat-option *ngFor="let option of currencyOptions" [value]="option">
          &#8226; {{ option }}
        </mat-option>
      </mat-select>
      <div class="error-message" *ngIf="hasFieldError('Currency')">
        {{ getFieldErrorMessage('Currency') }}
      </div>
    </div>
    <label for="TransactionDate">Transaction Date</label>
    <div class="input-with-icon">
      <input bsDatepicker formControlName="TransactionDate" type="text" placeholder="Select a date" />
      <i class="fa fa-calendar"></i>
      <div class="error-message" *ngIf="hasFieldError('TransactionDate')">
        {{ getFieldErrorMessage('TransactionDate') }}
      </div>
    </div>
    <label for="TransactionType">Transaction Type</label>
    <div class="form-group">
      <mat-select class="select" formControlName="TransactionType">
        <mat-option *ngFor="let option of typeOptions" [value]="option.Value">
          &#8226; {{ option.Name }}
        </mat-option>
      </mat-select>
      <div class="error-message" *ngIf="hasFieldError('TransactionType')">
        {{ getFieldErrorMessage('TransactionType') }}
      </div>
    </div>
    <label for="Group">Group</label>
    <div class="form-group">
      <mat-select class="select" formControlName="Group">
        <mat-option *ngFor="let option of groupOptions()" [value]="option">
          &#8226; {{ option.Name }}
        </mat-option>
      </mat-select>
      <div class="error-message" *ngIf="hasFieldError('Group')">
        {{ getFieldErrorMessage('Group') }}
      </div>
    </div>
    <div class="button-container">
      <button [disabled]="formGroup!.invalid" class="custom-button bounce-button" type="submit">Save</button>
      <button class="custom-button bounce-button" type="button" (click)="onClose()">Close</button>
    </div>
  </form>
</div>
