<div class="main-container">
  <div class="modal-header">
    <h3>Create Transaction</h3>
    <p class="modal-description">Create the item and click on save!</p>
  </div>
  @if (hasError()) {
    <div class="error-message default-font">
      {{ errorMessage() }}
    </div>
  }
  @if (loading()) {
    <loader class="loader"></loader>
  }
  @if (!loading()) {
    <form class="form-container" [formGroup]="formGroup!" (ngSubmit)="onSubmit()">
      <label for="Name">Name</label>
      <div class="form-group">
        <input id="Name" type="text" formControlName="Name" required />
        @if (hasFieldError('Name')) {
          <div class="error-message">
            {{ getFieldErrorMessage('Name') }}
          </div>
        }
      </div>
      <label for="Description">Description</label>
      <div class="form-group">
        <input id="Description" type="text" formControlName="Description" />
      </div>
      <label for="Value">Value</label>
      <div class="form-group">
        <input id="Value" type="number" formControlName="Value" />
        @if (hasFieldError('Value')) {
          <div class="error-message">
            {{ getFieldErrorMessage('Value') }}
          </div>
        }
      </div>
      <label for="Currency">Currency</label>
      <div class="form-group">
        <mat-select class="select" formControlName="Currency">
          @for (option of currencyOptions; track option) {
            <mat-option [value]="option">
              &#8226; {{ option }}
            </mat-option>
          }
        </mat-select>
        @if (hasFieldError('Currency')) {
          <div class="error-message">
            {{ getFieldErrorMessage('Currency') }}
          </div>
        }
      </div>
      <label for="TransactionDate">Transaction Date</label>
      <div class="input-with-icon">
        <input bsDatepicker formControlName="TransactionDate" type="text" placeholder="Select a date" />
        <i class="fa fa-calendar"></i>
        @if (hasFieldError('TransactionDate')) {
          <div class="error-message">
            {{ getFieldErrorMessage('TransactionDate') }}
          </div>
        }
      </div>
      <label for="TransactionType">Transaction Type</label>
      <div class="form-group">
        <mat-select class="select" formControlName="TransactionType">
          @for (option of typeOptions; track option) {
            <mat-option [value]="option.Value">
              &#8226; {{ option.Name }}
            </mat-option>
          }
        </mat-select>
        @if (hasFieldError('TransactionType')) {
          <div class="error-message">
            {{ getFieldErrorMessage('TransactionType') }}
          </div>
        }
      </div>
      <label for="Group">Group</label>
      <div class="form-group">
        <mat-select class="select" formControlName="Group">
          @for (option of groupOptions(); track option) {
            <mat-option [value]="option">
              &#8226; {{ option.Name }}
            </mat-option>
          }
        </mat-select>
        @if (hasFieldError('Group')) {
          <div class="error-message">
            {{ getFieldErrorMessage('Group') }}
          </div>
        }
      </div>
      <div class="button-container">
        <button [disabled]="formGroup!.invalid" class="custom-button bounce-button" type="submit">Save</button>
        <button class="custom-button bounce-button" type="button" (click)="onClose()">Close</button>
      </div>
    </form>
  }
</div>
