@use 'base/variables' as variables;

h3 {
  text-align: center;
  font-weight: 400;
  font-size: x-large;
  color: #2d3a4b;
}

.button-container {
  width: 50%;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .custom-button {
    width: 100%;
  }

  .form-container {
    width: 80%;
    margin: auto;
  }
}
