<loader *ngIf="loading()"></loader>
<div *ngIf="!loading()" class="form-container">
  <h3 class="default-font">Update Profile</h3>
  <form class="form-element" [formGroup]="formGroup!" (ngSubmit)="onSubmit()">
    <label class="default-font" for="currency">Currency</label>

    <label class="default-font" for="userName">User Name</label>
    <div class="form-group">
      <input
        class="default-font"
        id="userName"
        type="text"
        formControlName="userName"
        required
        placeholder="User Name"
      />
      <div class="error-font" *ngIf="hasFieldError('userName')">
        {{ getFieldErrorMessage('userName') }}
      </div>
    </div>

    <label class="default-font" for="password">Password</label>
    <div class="form-group">
      <input
        class="default-font"
        id="password"
        type="password"
        formControlName="password"
        required
        placeholder="Password"
      />
      <div class="error-font" *ngIf="hasFieldError('password')">
        {{ getFieldErrorMessage('password') }}
      </div>
    </div>

    <label class="default-font" for="currency">Currency</label>
    <div class="form-group">
      <mat-select class="select" formControlName="currency" [compareWith]="compareCategoryObjects" required>
        <mat-option *ngFor="let option of currencyOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>
    <div class="button-container">
      <button class="bounce-button custom-button" type="submit" [disabled]="!isFormValid()">Update</button>
    </div>
  </form>
</div>
