@if (loading()) {
  <loader></loader>
}
@if (!loading()) {
  <div class="form-container">
    <h3 class="default-font">Update Profile</h3>
    @if (hasError()) {
      <div class="error-message default-font">
        {{ errorMessage() }}
      </div>
    }
    <form class="form-element" [formRoot]="profileForm">
      <label class="default-font" for="currency">Currency</label>
      <label class="default-font" for="userName">User Name</label>
      <div class="form-group">
        <input
          class="default-font"
          id="userName"
          type="text"
          [formField]="profileForm.userName"
          placeholder="User Name"
          />
          @if (profileForm.userName().touched() && profileForm.userName().invalid()) {
            <div class="error-font">
              {{ profileForm.userName().errors()[0]?.message }}
            </div>
          }
        </div>
        <label class="default-font" for="password">Password</label>
        <div class="form-group">
          <input
            class="default-font"
            id="password"
            type="password"
            [formField]="profileForm.password"
            placeholder="Password"
            />
            @if (profileForm.password().touched() && profileForm.password().invalid()) {
              <div class="error-font">
                {{ profileForm.password().errors()[0]?.message }}
              </div>
            }
          </div>
          <label class="default-font" for="currency">Currency</label>
          <div class="form-group">
            <mat-select class="select" [formField]="profileForm.currency" [compareWith]="compareCategoryObjects">
              @for (option of currencyOptions; track option) {
                <mat-option [value]="option">
                  {{ CurrencyEnum[option] }}
                </mat-option>
              }
            </mat-select>
          </div>
          <div class="button-container">
            <button class="bounce-button custom-button" type="submit" [disabled]="!profileForm().valid()">Update</button>
          </div>
        </form>
      </div>
    }
