<loader *ngIf="loading()"></loader>
<div *ngIf="!loading()" class="form-container">
  <form class="form-element" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h3 class="default-font">Registration</h3>
    <label class="default-font" for="userName">User Name</label>
    <div class="form-group">
      <input
        class="default-font"
        id="userName"
        type="text"
        formControlName="userName"
        required
        placeholder="User Name"
      />
      <div class="error-font" *ngIf="registrationForm.get('userName')?.hasError('required') && registrationForm.get('userName')?.touched">
        User name is required
      </div>
      <div class="error-font" *ngIf="registrationForm.get('userName')?.hasError('minlength') && registrationForm.get('userName')?.touched">
        Minimum 2 characters required
      </div>
    </div>

    <label class="default-font" for="email">Email</label>
    <div class="form-group">
      <input
        class="default-font"
        id="email"
        type="text"
        formControlName="email"
        required
        placeholder="Email"
      />
      <div class="error-font" *ngIf="registrationForm.get('email')?.hasError('required') && registrationForm.get('email')?.touched">
        Email is required
      </div>
      <div class="error-font" *ngIf="registrationForm.get('email')?.hasError('email') && registrationForm.get('email')?.touched">
        Invalid email format
      </div>
    </div>

    <label class="default-font" for="password">Password</label>
    <div class="form-group">
      <input
        class="default-font"
        id="password"
        type="password"
        formControlName="password"
        required
        placeholder="Password"
      />
      <div class="error-font" *ngIf="registrationForm.get('password')?.hasError('required') && registrationForm.get('password')?.touched">
        Password is required
      </div>
      <div class="error-font" *ngIf="registrationForm.get('password')?.hasError('minlength') && registrationForm.get('password')?.touched">
        Minimum 8 characters required
      </div>
      <div class="error-font" *ngIf="registrationForm.get('password')?.hasError('pattern') && registrationForm.get('password')?.touched">
        Include uppercase letter, number, and special character
      </div>
    </div>

    <label class="default-font" for="currency">Currency</label>
    <div class="select">
      <mat-select formControlName="currency" required>
        <mat-option *ngFor="let option of currencyOptions" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </div>

    <button class="custom-button bounce-button default-font" type="submit" [disabled]="registrationForm.invalid">
      Register
    </button>
  </form>
</div>
