<div class="home-container">
  <header class="header-container">
    <h1>Welcome to your Finance Application</h1>
    <p>This application is to follow your financials!</p>
  </header>
  <div class="picture-container">
      <img src="../../assets/pictures/euro.png">
      <img src="../../assets/pictures/money-bag.png">
      <img src="../../assets/pictures/saving.png">
      <img src="../../assets/pictures/shopping-cart.png">
  </div>
  <footer>
    <p>&copy; 2025 Your Company. All rights reserved.</p>
  </footer>
</div>
