<div class="home-container">
  <header class="header-container">
    <h1>Welcome to your Finance Application</h1>
    <p>This application is to follow your financials!</p>
  </header>
  <div class="picture-container">
      <img src="../../assets/pictures/euro_symbol_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">
      <img src="../../assets/pictures/money_bag_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">
      <img src="../../assets/pictures/savings_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">
      <img src="../../assets/pictures/shopping_cart_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.png">
  </div>
  <footer>
    <p>&copy; 2025 Your Company. All rights reserved.</p>
  </footer>
</div>
