@if (loading()) {
  <loader></loader>
}
@if (!loading()) {
  <div class="form-container">
    <form class="form-element" [formGroup]="formGroup!" (ngSubmit)="onSubmit()">
      <h3 class="default-font">Log In</h3>
      @if (hasError()) {
        <div class="error-message default-font">
          {{ errorMessage() }}
        </div>
      }
      <label class="default-font" for="email">User Email</label>
      <div class="form-group">
        <input
          class="default-font"
          id="email"
          formControlName="email"
          required
          placeholder="Email"
          />
          @if (hasFieldError('email')) {
            <div class="error-message default-font"
              >
              {{ getFieldErrorMessage('email') }}
            </div>
          }
        </div>
        <label class="default-font" for="password">Password</label>
        <div class="form-group">
          <input
            class="default-font"
            id="password"
            type="password"
            formControlName="password"
            required
            placeholder="Password"
            />
            @if (hasFieldError('password')) {
              <div class="error-message default-font"
                >
                {{ getFieldErrorMessage('password') }}
              </div>
            }
          </div>
          <div class="button-container">
            <button class="custom-button bounce-button default-font" type="submit" [disabled]="!isFormValid()">Login</button>
            <button class="custom-button-inverse bounce-button default-font" type="button" routerLink="/registration">Registration</button>
            <button class="custom-button-inverse bounce-button" type="button" (click)="forgotPassword()">Forgot Password</button>
            <button class="small-action-button" type="button" (click)="resendConfirmationEmail()">Resend Email Confirmation</button>
          </div>
        </form>
      </div>
    }
