@use 'base/variables' as variables;

h3 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: x-large;
  color: #2d3a4b;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

//Reactiveness
@media (max-width: 600px) {
  .custom-button {
    width: 100%;
  }

  .form-container {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .custom-button {
    width: 100%;
  }

  .custom-button-inverse {
    width: 100%;
  }
}
